<h1>File uploaded successfully.</h1>

<ul>
  <li><%= link_to "Upload new file", controller: "log_file", action: "new" %></li>
  <li><%= link_to "View messages", controller: "messages", action: "index" %></li>
</ul>