<h2><%= section_title %></h2>
<table>
  <thead>
    <tr>
      <% hourly_stats.each do |h| %>
      <th><%= h.hour %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% hourly_stats.each do |h| %>
      <td><%= h.value %></td>
      <% end %>
    </tr>
  </tbody>
</table>
