/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'constants';

.odd{
  background-color: $highlight-primary-color;
}

#messagesTable{
  border-collapse: collapse;
}

#siteHeader{
  display: block;
  height: 100px;
}

#leftColumn{
  display: block;
  float: left;
  width: 10em;
}

#content{
  display: block;
  float: right;
  width: 70em;
  background-color: #fff;
  padding: 1em;
}

#footer{
  display: block;
  position: relative;
  clear: both;
}

#wrap{
  width: 85em;
}

h1{
  color: $foreground-primary-color;
}

h2{
  color: $foreground-secondary-color;
}

ul.hmenu {
  list-style: none; 
  margin: 0 0 2em;
  padding: 0;
  float: right;
}

ul.hmenu li {
  display: inline;  
}
